<div class="text-center">
  {{#if this.userName}}
    <h1>
      <i class="bi bi-hand-thumbs-up"></i>
      Welcome, {{this.userName}} {{this.userSurname}}! <i class="bi bi-emoji-smile"></i>
    </h1>
  {{else}}
    <h1>
      <i class="bi bi-hand-thumbs-up"></i>
      Welcome to EmberAuthApp
    </h1>
  {{/if}}
  <p>
    <i class="bi bi-justify"></i>
    Choose an option from the navbar to get started.
  </p>
</div>