<div style="margin-top: 120px"><h5 class="text-center my-4">
    <i class="bi bi-credit-card"></i>
    Sélectionnez votre mode de paiement
  </h5></div>
<div
  style="margin-top: -50px"
  class="payment-options d-flex justify-content-center align-items-stretch"
>
  <!-- Carte ING -->
  <div class="card me-3" style="width: 125px; min-height: 125px;">
    <img
      src="https://business-review.eu/wp-content/uploads/2018/11/ING-logo-v2.jpg"
      alt="ING"
      class="card-img-top"
    />
    <div class="card-body text-center">
      <h5 class="card-title">
        <i class="bi bi-credit-card"></i>
        ING
      </h5>
      <i class="bi bi-shield-lock" style="font-size: 1.5rem; color: green;"></i>
      <br /><br />
      <a href="https://www.ing.be/fr" target="_blank" class="btn btn-custom">
        <i class="bi bi-box-arrow-up-right me-2"></i>
      </a>
    </div>
  </div>

  <!-- Carte Fortis -->
  <div class="card me-3" style="width: 125px; min-height: 125px;">
    <img
      src="https://www.vergelijkgids.be/wp-content/uploads/2017/08/BNP-Paribas-Logo.jpg"
      alt="Fortis"
      class="card-img-top"
    />
    <div class="card-body text-center">
      <h5 class="card-title">
        <i class="bi bi-credit-card"></i>
        Fortis
      </h5>
      <i class="bi bi-shield-lock" style="font-size: 1.5rem; color: green;"></i>
      <br /><br />
      <a href="https://www.fortis.be" target="_blank" class="btn btn-custom">
        <i class="bi bi-box-arrow-up-right me-2"></i>
      </a>
    </div>
  </div>

  <!-- Carte Belfius -->
  <div class="card" style="width: 125px; min-height: 125px;">
    <img
      src="https://seekvectors.com/storage/images/Belfius%20Banque.svg"
      alt="Belfius"
      class="card-img-top"
    />
    <div class="card-body text-center">
      <h5 class="card-title">
        <i class="bi bi-credit-card"></i>
        Belfius
      </h5>
      <i class="bi bi-shield-lock" style="font-size: 1.5rem; color: green;"></i>
      <br /><br />
      <a href="https://www.belfius.be" target="_blank" class="btn btn-custom">
        <i class="bi bi-box-arrow-up-right me-2"></i>
      </a>
    </div>
  </div>
</div>

<!-- Bannière en bas de page -->
<div class="payment-methods-footer text-center mt-4">
  <p  style="margin-top: 10px">
    <i class="bi bi-credit-card" style="color:green; margin-right: 5px;"></i>
    <strong style="color:red;">Nous acceptons également les paiements via :</strong>
  </p>

  <img
    src="https://georockshop.nl/images/card_acceptance/bancontact.jpg"
    alt="MisterCash"
    style="width: 75px; margin: 0 10px;"
  />
  <img
    src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/39/PayPal_logo.svg/2560px-PayPal_logo.svg.png"
    alt="PayPal"
    style="width: 65px; margin: 0 10px;"
  />
  <img
    src="https://logodownload.org/wp-content/uploads/2018/05/maestro-logo-2.png"
    alt="Maestro"
    style="width: 65px; margin: 0 10px;"
  />
  <img
    src="https://static.vecteezy.com/system/resources/previews/022/100/873/non_2x/visa-logo-transparent-free-png.png"
    alt="Visa"
    style="width: 65px; margin: 0 10px;"
  />
</div>

<div style="margin-top: 150px"></div>

<style>
  .btn-custom { 
    background-color: #e9bd88; 
    color: white; 
    border-radius: 50%;
    width: 40px; 
    height: 40px; 
    font-size: 18px; } .btn-custom:hover {
    background-color: #ff7f00; 
    color: white; }
</style>